<div class="main-container">
<div class="calculator-container">

  <h1>Retirement Calculator</h1>
  <app-input-fields (formValuesChanged)="onFormChange($event)"   (formValid)="onFormValidChange($event)" [resetFormTrigger]="resetFormTrigger"></app-input-fields>

  <app-submit-button [formData]="formData" [disabled]="!isFormValid" (submitClicked)="onSubmit(formData)" (clear)="onClear()"></app-submit-button>


  <div class="result-box">
  <div *ngIf="showResult" >
    <app-results-table [resultData]="tableData[0]"></app-results-table>
  </div>

    <div *ngIf="showError" class="error-message">
      {{ errorMessage }}
    </div>
  </div>

</div>
</div>
