<div class="main-container">
<div class="calculator-container">

  <h1>Retirement Calculator</h1>
  <app-input-fields (formValuesChanged)="onFormChange($event)" [resetFormTrigger]="resetFormTrigger"></app-input-fields>

  <app-submit-button [formData]="formData" (submitClicked)="onSubmit($event)" (clear)="onClear()"></app-submit-button>


  <div *ngIf="showResult" class="result-box">
    <h3>Future Value</h3>
      <div class="mat-input-element readonly-value">
        {{ calculatedFutureValue | currency:'R ':'symbol':'1.0-2'}}
      </div>
</div>
</div>
</div>
